@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  max-height: 100%;
}

a {
  text-decoration: none;
}
table {
  @apply w-full my-5;
}

table thead tr td {
  @apply bg-purple-200 font-bold;
}

table tr td {
  @apply border-2 border-gray-200 p-1;
}

h1 {
  @apply text-purple-600 mb-2;
}
input,
textarea,
select {
  @apply border-2 border-gray-300 rounded-md w-full mb-2;
}

input:focus,
textarea:focus,
select:focus {
  @apply border-purple-600;
}

label {
  @apply text-purple-600;
}

.required {
  @apply text-red-600;
}

.btn-save {
  @apply flex bg-purple-400 px-3 py-1 rounded-md  text-white;
}

.btn-cancel {
  @apply bg-gray-500 px-3 py-1 text-white rounded-md;
}

.btn-delete {
  @apply bg-red-600 text-white px-3 py-1 rounded-md no-underline;
}

.btn-edit {
  @apply bg-purple-400 text-white px-3 py-1 mx-2 rounded-md;
}

.btn-form {
  @apply bg-pink-300 text-sm mb-2 px-2 py-1 rounded-lg mt-2;
}

/* @layer base {
} */
